.pagination .ant-pagination-options {
  display: none;
}
.pagination {
  display: flex;
  justify-content: center;
}
.pagination li {
  color: #000000a6;
  font-family: 'Inter-Regular';
  opacity: 95%;
  font-size: 12px;
}
